body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-view {
  height: 100vh;
  padding: 20px;
  background-color: #ffffff;
}

.component__navbar {
  width: 100%;
  height: 100%;

  background-color: #00C673 !important;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15) !important;
}

.component__navbar .ivy-logo {
  height: 100% !important;

  border-style: solid !important;;
  border-width: 2px !important;
  border-radius: 7px;
  border-color: rgba(0, 86, 24, 0.6) !important;
}